@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('./assets/css/global.css');

header {
    text-align: center; 
}

nav img {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
}

.menuNavOptions {
    display: none;
    background-color: var(--gray-500);
}

.menuNavOptions ul {
    display: flex;
}

.menuNavOptions a {
    color: var(--black);
    text-decoration: none;
}

.menuNavOptions.show {
    position: fixed;
    display: block;
    z-index: 999;    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: 1.25rem;
    font-size: var( --font-size-md);
    background-color: var(--gray-700);
}

.buttonCloseMenu {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
}

.navMenu {
    background-color: var(--black);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 6.25rem;
    width: 100%;
    font-size: var(--font-size-sm);
    padding: 1.25rem; 
}

.navMenu p {
   text-decoration: none;
   color: var(--white); 
}

.headerHome {
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0.625rem;
    font-size: var(--font-size-xl);
    padding-bottom: 1.875rem;
}

.headerSelfImage img {
    border: 0.0625rem solid;
    border-radius: 100%;
    height: 9.375rem;
    width: 9.375rem;
    margin-top: 1.875rem;
}

.headerHome h1 {
    color: var(--blue-500);
    font-size: var(--font-size-sm);
}

.aboutMe p {
    font-size: var(--font-size-sm);
    max-width: 31.25rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0;
}

main {
    text-align: center;
}

main h2 {
    font-size: var(--font-size-lg); 
    margin: 1.875rem 0;
    color: var(--gray-900);
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 0 0.625rem;
    margin: 0 auto;
    justify-content: center;
    max-width: 25rem;
}

.skillSection {
    background-color: var(--gray-900);
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 7.5rem;
    width: 7.5rem;
    padding: 0.625rem;
    border-radius: 100%;
    border-color: var(--gray-900);
}

.skillSection img {
    width: 2.5rem;
    height: 2.5rem;
}

.skillSection p {
    color: var(--white);
    text-align: center;
    font-weight: bold;
    margin-top: 0.125rem;
}

.skillLogo {
    margin: 0;
    padding: 0;
}

#projetos-trabalhados {
    background-color: var(--gray-700);
    padding-bottom: 1.875rem;
    font-size: var(--font-size-sm);
    padding-bottom: 2.5rem;
}

#projetos-trabalhados h2 {
    padding-top: 1.25rem;
}

.worksParagraph {
    padding-bottom: 1.25rem;
    max-width: 25rem;
    margin: 0 auto;
}

.worksParagraph strong {
    color: var(--gray-800);
}

.buttonProject {
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    background-color: var(--gray-900);
    text-decoration: none;
    color: var(--white);
    border: none;
}

dialog {
    width: 31.25rem;
    border: none;
    border-radius: 0.3125rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
}

dialog h2 {
    color: var(--gray-800);
    margin: 1.25rem 0;
}

dialog p {
    margin-bottom: 1.25rem;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

.closeModalButton {
    text-decoration: none;
    background: var(--gray-900); 
    color: var(--white);
    border: none;
    width: 6.25rem;
    height: 3.125rem;
}

@media screen and (min-width: 48rem) {
    .menuNavOptions.show {
        gap: 3.75rem;
        font-size: var(--font-size-lg);
        padding-top: 1.25rem;
    }

    .aboutMe p {
      max-width: 37.5rem;
      font-size: var(--font-size-md);
    }

    .headerHome h1 {
        color: var(--blue-500);
        font-size: var(--font-size-lg);
    }

    .headerSelfImage img {
        height: 12.5rem;
        width: 12.5rem;
        margin-top: 1.875rem;
    } 

    .skills {
        gap: 3.125rem;
        min-width: 34.375rem;
        margin-bottom: 3.125rem;
    } 

    .skillSection {
        background-color: var(--gray-900);
        border: solid;
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 8.75rem;
        width: 8.75rem;
        padding: 0.625rem;
        border-radius: 100%;
        border-color: var(--gray-900);
    }

    .containerWorks {
        display: flex;
        gap: 1.5625rem;
        align-items: flex-start;
        max-width: 56.25rem;
        margin: 0 auto;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .worksParagraph {
        text-align: left;
    }

    .buttonProject {
        width: 16.25rem;
        height: 3.75rem;
    }
}

footer {
    background-color: var(--black);  
    width: 100%;
    height: 31.25rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contatos {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: var(--font-size-xs);
}

footer {
    background-color: var(--black);
    width: 100%;
    height: 18.75rem;
    padding: 1.875rem 0;
    flex-direction: column; 
}

.contactsParagraph {
    color: var(--white);
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.contactsLinks {
    display: flex;
    gap: 1.875rem;
}

.contactsLinks img {
    width: 2.5rem;
    height: 2.5rem;
}

dialog h2 {
    margin: 1.875rem 0;
}

dialog p {
    margin-bottom: 1.5625rem;
}

dialog h2 {
    font-size: var(--font-size-md);
}

dialog p {
    font-size: var(--font-size-sm);
}

@media screen and (min-width: 64rem) {
    nav img {
        display: none;
    } 

    .menuNavOptions {
        display: flex;
        gap: 3.125rem;
        background-color: var(--black);
        color: var(--white);
    }
    
    .menuNavOptions a {
        color: var(--white);
        text-decoration: none;
    }

    .menuNavOptions a:hover {
       color: var(--blue-500);
    }

    ul {
        list-style-type: none;  
    }
    
    .aboutMe {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .aboutMe p {
        max-width: 37.5rem;
        font-size: var(--font-size-md);
    }

    .headerHome h1 {
        font-size: var(--font-size-xl);
    }

    .headerHome {
        padding-bottom: 1.875rem;
        gap: 10%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        height: 37.5rem;
    }

    .headerSelfImage img {
        height: 19.375rem;
        width: 19.375rem;
        margin-top: 1.875rem;
    }

    .skills {
        gap: 6.25rem;
        max-width: 50rem;
        margin-bottom: 3.125rem;
    } 

    .skillSection {
        height: 10.625rem;
        width: 10.625rem;
        cursor: pointer;
    }

    main h2 {
        font-size: var(--font-size-lg); 
        margin: 3.75rem 0;
    }

    .skillSection img {
        width: 3.75rem;
        height: 3.75rem;
    }

    .skillSection p {
        margin-top: 0.625rem;
    }

    .containerWorks {
        padding: 1rem;
        gap: 5rem;
        align-items: center;
        max-width: 62.5rem;
        margin: 0 auto;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .worksParagraph {
        text-align: left;
    }

    .buttonProject {
        width: 18.75rem;
        height: 4.375rem;
        font-size: var(--font-size-xs);
    }

    .buttonProject:hover {
      background-color: var(--gray-800);
    }  
    
    footer {
        height: 25rem;
    }

    .contactsParagraph {
        font-size: var(--font-size-xs);
    }

    .contactsLinks {
        display: flex;
        gap: 2.5rem;
    }

    .contactsLinks img {
        width: 2.8125rem;
        height: 2.8125rem;
    }

    dialog h2 {
        font-size: var(--font-size-lg);
    }
    
    dialog p {
        font-size: var(--font-size-sm);
    }
}
